@import "../fonts/intro.css";

body {
	background-color: #193754;
	font-family: 'PT Sans', sans-serif;
	color: white;
	font-size: 20px;
}

.bordered {
	border: 1px solid white;
}

.bordered-bottom {
	border-bottom: 1px solid white;
}

.image-caption {
	position: absolute;
	bottom: 1px;
	left: 1px;
	right: 1px;
	background-color: rgba(25, 55, 84, 0.8);
	font-family: 'Intro';
	font-size: 23px;
	padding: 30px 0;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.row-section {
	padding: 50px 0;
}

.col-entire {
	padding-right: 0;
	padding-left: 0;
}

.img-right {
	display: block;
	margin-left: auto;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact-middle-text {
	padding: 7px 0;
}

.row-marged {
	margin-top: 10px;
}

.intro-32 {
	font-family: 'Intro';
	font-size: 32px;
}

.intro-40 {
	font-family: 'Intro';
	font-size: 40px;
}

.orange,
a,
a:hover,
a:focus {
	color: #f39200;
}

.text-24 {
	font-size: 24px;
}

.text-22 {
	font-size: 22px;
}

.text-20 {
	font-size: 20px;
}

.text-30 {
	font-size: 30px;
}

.text-12 {
	font-size: 12px;
}

.text-15 {
	font-size: 15px;
}

.btn-loft {
	border-radius: 0;
	padding: 5px 40px;
	background-color: #f39200;
	color: #193754;
}

.btn-loft:hover {
	color: #2c4d6e;
}

.input-loft {
	border-radius: 0;
    background-color: #2c4d6e;
    border: transparent;
    padding: 8px 15px;
    color: white;
}

.input-loft[readonly] {
    background-color: #2c4d6e;
    color: white;
}

.input-half {
    width: 49%;
    display: inline-block;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: -39px 6px;
    float:right;
    border-radius: 0;
    color: #2c4d6e;
    background-color: #193754;
    border-color: #193754;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.to-right {
    float: right;
}

.input-note {
    color: #54779d;
}

.form-error {
    color: red;
    font-size: 16px;
}

.form-control:-moz-placeholder {
  color: #1a3856;
}

.form-control::-moz-placeholder {
  color: #1a3856;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #1a3856;
}

.form-control::-webkit-input-placeholder {
  color: #1a3856;
}

.rent-info {
	list-style-type: none;
	padding: 0px 30px 10px 30px;
	margin: 0px;
}

.rent-info li {
	background-image: url(../images/ul.png);
	background-repeat: no-repeat;
	background-position: 0px 10px; 
	padding-left: 40px; 
}

.yandex-map {
	height: 530px;
}

.container {
	position: relative;
}

.contacts-box {
	position: absolute;
	z-index: 1;
	margin-top: 50px;
	right: 0;
	background-color: #193754;
	padding: 10px 15px;
}

.contacts-info {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.contacts-info li {
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 55px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.contacts-info-1 {
	background-image: url(../images/map.png);
}

.contacts-info-2 {
	background-image: url(../images/phone.png);
}

.contacts-info-3 {
	background-image: url(../images/mail.png);
}

.contacts-info-4 {
	background-image: url(../images/skype.png);
}

.col-future {
	margin-top: 15px;
}

@media (min-width: 992px) {
	.col-past {
		width: 49%;
	}

	.col-future {
		width: 49%;
		margin-left: 2%;
		margin-top: 0;
	}
}

.col-past,
.col-future {
	padding: 30px 30px 70px 30px;
}

.row-event {
	padding-bottom: 25px;
	position: relative;
}

.event-img {
	padding-top: 15px;
	padding-right: 10px;
}

.vertical-line {
	border-left: 1px solid white;
	position: absolute;
	top: 20px;
	bottom: -20px;
	left: 8%;
	z-index: -1;
}

.event-link {
	position: absolute;
	right: 25px;
	bottom: 25px;
}

.coworking-info {
	position: relative;
	width: 200px;
	z-index: 5;
}

.coworking-info a {
	cursor: pointer;
}

.coworking-box {
	display: none;
	height: 225px;
	width: 288px;
	padding: 55px 10px 10px 70px;
	background-image: url(../images/coworking-bg.png);
    background-repeat: no-repeat;
    background-position: center;
	color: #193754;
	position: absolute;
	right: -288px;
	top: -122px;
}

.coworking-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

.response {
    text-align: center;
    display: none;
}

.history-container {
    display: table;
}

.history-timeline {
    border-bottom:1px solid #ffffff;
    background-color: #193754;
    text-align: center;
}

.history-circle {
    background: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 11px 50% -5px 50%;
}

.history-active .history-circle {
    background: #f39301;
    width: 14px;
    height: 14px;
    margin: 9px 50% -7px 50%;
}

.history-active .history-timeline span {
    color: #f39301;
}

.history-column {
    display: table-cell;
    vertical-align: top;
    float: none;
}

.history-event {
    padding: 0 30px;
}

.history-active {
    background-color: #132940;
}

.history-container .history-prev {
    width: 44px;
    height: 44px;
    left: -80px;
    margin-top: 30px;
    background: url(../images/bxslider/controls.png) no-repeat -4px 0;
    cursor: pointer;
}

.history-container .history-next {
    width: 44px;
    height: 44px;
    right: -80px;
    margin-top: 30px;
    background: url(../images/bxslider/controls.png) no-repeat -57px 0;
    cursor: pointer;
}

.history-container .history-prev:hover {
    background-position: -4px -45px;
}

.history-container .history-next:hover {
    background-position: -57px -45px;
}
