#{extends 'main.html' /}
#{set title:'IT LOFT' /}

<div class="container">
    <!-- header -->
    <div class="row row-section bordered-bottom">
        <div class="col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-1 col-entire">
            <a href="http://itlft.ru/" id="metrika-site-logo"><img class="img-responsive" src="@{'/public/images/logo.png'}" alt="Omsk IT LOFT"></a>
        </div>

        <div class="col-xs-3 col-md-2">
            <div class="row">
                <div class="col-xs-6 col-md-5 col-entire text-right">
                    <a href="http://vk.com/itloftomsk" target="_blank" id="metrika-vk-top-logo"><img class="js-social-logo" src="@{'/public/images/vk-logo.png'}" alt="Vkontakte"></a>
                </div>

                <div class="col-xs-6 col-md-6 col-entire">
                    <a href="https://twitter.com/_itloft" target="_blank" id="metrika-tw-top-logo"><img class="js-social-logo" src="@{'/public/images/tw-logo.png'}" alt="Twitter"></a>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <div class="row">
                <div class="col-xs-9 col-md-10 col-entire text-right contact-middle-text">
                    <span>Омск, Учебная, 83, офис 212</span>
                </div>

                <div class="col-xs-3 col-md-2">
                    <img class="img-responsive img-center" src="@{'/public/images/map.png'}" alt="Address">
                </div>
            </div>

            <div class="row row-marged">
                <div class="col-xs-9 col-md-10 col-entire text-right contact-middle-text">
                    <span>+7 (909) 535 00 73</span>
                </div>

                <div class="col-xs-3 col-md-2">
                    <img class="img-responsive img-center" src="@{'/public/images/phone.png'}" alt="Phone">
                </div>
            </div>
        </div>
    </div>

    <!-- description -->
    <div class="row row-section">
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1 col-entire">
                        <span class="intro-32">
                            ОМСКИЙ <span class="orange">IT&#8209;ЛОФТ*</span> &ndash;<br>
                            ПРЕКРАСНОЕ МЕСТО ДЛЯ ПРОВЕДЕНИЯ ИТ&#8209;МЕРОПРИЯТИЙ!<br>
                        </span>
            <br>
            <br>
            <span>* Лофт (от англ. &laquo;чердак&raquo;) &ndash; жилое помещение либо</span><br>
            <span>художественная мастерская, расположенная в здании</span><br>
            <span>индустриального типа.</span>
            <br>
            <br>
            <div class="coworking-info">
                <a class="js-coworking-info" id="metrika-coworking-info">А что с коворкингом?</a>

                <div class="coworking-box js-coworking-box">
                    После "беты" мы решили закрыть коворкинг с 1 февраля 2014 года
                    <a class="js-coworking-close" id="metrika-coworking-info-close"><img class="coworking-close" src="@{'/public/images/coworking-close.png'}" alt="Close"></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-center" src="@{'/public/images/description.png'}" alt="Description">
        </div>
    </div>

    <!-- photos -->
    <div class="row row-section">
        <div class="col-xs-10 col-xs-offset-1 col-md-5 col-entire">
            <img class="img-responsive bordered full-width" src="@{'/public/images/complex1.png'}" alt="Complex 1">
            <div class="image-caption text-center">
                <span>У нас вам всегда улыбнутся! :)</span>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-0">
            <div class="row">
                <div class="col-xs-6 col-entire">
                    <img class="img-responsive bordered full-width" src="@{'/public/images/complex2.png'}" alt="Complex 2">
                </div>

                <div class="col-xs-6 col-entire">
                    <img class="img-responsive bordered full-width" src="@{'/public/images/complex3.png'}" alt="Complex 3">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-entire">
                    <img class="img-responsive bordered full-width" src="@{'/public/images/complex4.png'}" alt="Complex 4">
                </div>

                <div class="col-xs-6 col-entire">
                    <img class="img-responsive bordered full-width" src="@{'/public/images/complex5.png'}" alt="Complex 5">
                </div>
            </div>
        </div>
    </div>

    <!-- events -->
    <div class="row row-section">
        <div class="col-xs-10 col-xs-offset-1">
            <p><span class="intro-40 orange">МЕРОПРИЯТИЯ В IT-ЛОФТ</span></p>

            <div class="row">
                <div class="col-md-6 bordered col-past">
                    <span class="text-30">Прошедшие</span>
                    <br>
                    <br>

                    #{if pastEvents}
                        #{list items:pastEvents, as:'pastEvent'}
                            <div class="row row-event">
                                <div class="col-xs-2 col-entire event-img">
                                    <img class="img-responsive img-center" src="@{Application.eventImg(pastEvent.id)}" alt="Event">
                                </div>

                                #{if pastEvent != pastEvents.last()}
                                    <div class="vertical-line"></div>
                                #{/if}

                                <div class="col-xs-10 col-entire">
                                    <span class="text-12">${pastEvent.humanReadableDate}</span><br>
                                    <p><a href="${pastEvent.reference}" target="_blank">${pastEvent.title}</a></p>
                                    <div class="text-15">${pastEvent.description}</div>
                                </div>
                            </div>
                        #{/list}
                    #{/if}

                    <div class="text-right event-link">
                        <a href="https://www.google.com/calendar/embed?src=aqclsibjm591jbbk875uio9k40%40group.calendar.google.com&ctz=Asia/Omsk" target="_blank" id="metrika-calendar">Все мероприятия</a>
                    </div>
                </div>

                <div class="col-md-6 bordered col-future">
                    <span class="text-30">Будущие</span>
                    <br>
                    <br>

                    #{if futureEvents}
                        #{list items:futureEvents, as:'futureEvent'}
                            <div class="row row-event">
                                <div class="col-xs-2 col-entire event-img">
                                    <img class="img-responsive img-center" src="@{Application.eventImg(futureEvent.id)}" alt="Event">
                                </div>

                                #{if futureEvent != futureEvents.last()}
                                    <div class="vertical-line"></div>
                                #{/if}

                                <div class="col-xs-10 col-entire">
                                    <span class="text-12">${futureEvent.humanReadableDate}</span><br>
                                    <p><a href="${futureEvent.reference}" target="_blank">${futureEvent.title}</a></p>
                                    <div class="text-15">${futureEvent.description}</div>
                                </div>
                            </div>
                        #{/list}
                    #{/if}

                    <div class="text-right event-link">
                        <a href="#event" id="metrika-rent-label">Проведи свое мероприятие!</a>
                    </div>
                </div>
            </div>

            <p><span class="text-24"><br>Чтобы всегда вовремя узнавать о новых событиях в лофте, оставьте свой e-mail</span></p>

            <form id="js-subscription-form" action="@{Application.subscribe()}" method="POST">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <div class="form-group">
                            <input type="email" class="form-control input-loft text-20 full-height" id="js-input-email-sub" placeholder="Ваш e-mail">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button type="submit" class="btn btn-loft text-22" id="js-submit-sub">Подписаться</button>
                    </div>
                </div>

                <div class="response" id="js-response-sub"></div>
            </form>

            <span class="text-24"><br>А также следите за нами в <a href="http://vk.com/itloftomsk" target="_blank" id="metrika-vk-link">группе Вконтакте</a> и в <a href="https://twitter.com/_itloft" target="_blank" id="metrika-tw-link">Твиттере</a></span>
        </div>
    </div>

    <!-- rent -->
    <a name="event"></a>
    <div class="row row-section">
        <div class="col-xs-10 col-xs-offset-1">
            <span class="intro-40 orange">ПРОВЕДЕНИЕ МЕРОПРИЯТИЙ</span>

            <div class="row">
                <div class="col-md-7">
                    <span>Для вас мы можем предоставить:</span>
                    <br>
                    <br>
                    <ul class="rent-info">
                        <li>Проектор</li>
                        <li>Колонки</li>
                        <li>Большой белый экран или много белых стен</li>
                        <li>Камеру и штатив</li>
                        <li>Доски под маркер и флипчарты</li>
                        <li>Много стульев и бабблы</li>
                        <li>Много места для общения во время кофе-брейка</li>
                        <li>Учебный класс на 12 человек (или больше, если нужно) с проектором и доской</li>
                    </ul>
                </div>

                <div class="col-md-5">
                    <img class="img-responsive img-center" src="@{'/public/images/rent.png'}" alt="Rent">
                </div>
            </div>

            <p><span class="text-24"><br>Оставить заявку на проведение мероприятия в IT-лофте</span></p>

            <div class="row">
                <div class="col-md-6 col-md-offset-3"></div>
            </div>

            <form id="js-request-form" action="@{Application.request()}" method="POST">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <input type="text" class="form-control input-loft text-20 full-height" id="js-input-name" placeholder="Как вас зовут?">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control input-loft text-20 full-height" id="js-input-email" placeholder="Ваш e-mail">
                        </div>

                        <div class="form-group">
                            <input type="tel" class="form-control input-loft text-20 full-height" id="js-input-phone" placeholder="Ваш телефон">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-loft text-20 full-height" id="js-input-title" placeholder="Название мероприятия">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control input-loft text-20 full-height" id="js-input-date" placeholder="Дата проведения мероприятия">
                        </div>

                        <button type="submit" class="btn btn-loft text-22 full-width" id="js-submit">Оставить заявку</button>
                    </div>
                </div>

                <div class="response" id="js-response"></div>
            </form>
        </div>
    </div>

    <!-- contacts -->
    <div class="row">
        <div class="col-xs-5 col-xs-offset-7 contacts-box">
            <span class="intro-40 orange">КОНТАКТЫ</span>
            <ul class="contacts-info">
                <li class="contacts-info-1">Омск, Учебная, 83, офис 212</li>
                <li class="contacts-info-2">+7 (909) 535 00 73 &ndash; Анна</li>
                <li class="contacts-info-3">loft@omskit.org</li>
                <li class="contacts-info-4">anna_tarasenko</li>
            </ul>
            <div class="text-right">
                <a href="http://vk.com/itloftomsk" target="_blank" id="metrika-vk-bottom-logo"><img class="js-social-logo" src="@{'/public/images/vk-logo.png'}" alt="Vkontakte"></a>
                <a href="https://twitter.com/_itloft" target="_blank" id="metrika-tw-bottom-logo"><img class="js-social-logo" src="@{'/public/images/tw-logo.png'}" alt="Twitter"></a>
            </div>
        </div>
    </div>
</div>

<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=23920219&amp;from=informer"
   target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23920219/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                       style="width:88px; height:31px; border:0; display:none;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23920219,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
    try {
    w.yaCounter23920219 = new Ya.Metrika({id:23920219,
    webvisor:true,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true});
    } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
    d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23920219" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- footer -->
<div class="yandex-map">
    <script type="text/javascript" charset="utf-8" src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=omRKMiNSU9_cfNFmM7t4f2XZDGOdd7u3"></script>
</div>