<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/custom-styles.css'}">
        <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-datetimepicker.css'}">
        #{get 'moreStyles' /}

        <script type="text/javascript">
            var subscribeUrl = "@{Application.subscribe()}";
            var requestUrl = "@{Application.request()}";
        </script>

        <script type="text/javascript" src="@{'/public/javascripts/jquery-1.11.0.min.js'}" charset="${_response_encoding}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/bootstrap-datetimepicker.ru.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/jquery.form.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/itloft.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/ajax-post.js'}"></script>
        #{get 'moreScripts' /}

        <!--[if lt IE 9]>
            <script src="@{'/public/javascripts/html5shiv.js'}"></script>
            <script src="@{'/public/javascripts/respond.min.js'}"></script>
        <![endif]-->
    </head>

    <body>
        #{doLayout /}

    </body>
</html>
